header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 55px;
}

.DC {
    display: inline-block;
    font-size: 3vw;
    font-family: 'Days One', sans-serif;
    color: #424242;
    letter-spacing: -.15ch;
}

.menu-box {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.menu {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.button-mode {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px;
    border-style: solid;
    transition: 0.2s;
    background-image: url(../images/lightMode.svg);
}

.button-mode:hover {
    background-color: rgb(72, 72, 72);
    background-image: url(../images/darkMode.svg);
}

.button-mode:active {
    background-color: rgb(20, 20, 20);
}

.icon-mode {
    width: 20px;
    height: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 2vw;
    margin-left: 18px;
    margin-right: 18px;
    font-weight: 500;

    flex-grow:  1;
    text-align: center;
}

li img {
    width: 2.5em;
    height: 2.5em;
    max-width: 60px;
    max-height: 60px;
}

@media (max-width: 820px) {
    .menu-disteso {
        display: none;
    }

    .DC {
        margin-left: 50px;
    }

    .menu-box {
        margin-right: 80px;
    }
}

@media (min-width: 821px) {

    header {
        height: 7vw;
    }

    .menu-box {
        display: none;
    }

}

@media (max-width: 1290px) {
    li {
        margin-left: 1.4vw;
        margin-right: 1.4vw;
    }
}